$violet: hsl(263, 55%, 52%);
$darkGrayishBlue:  hsl(217, 19%, 35%);
$darkBlackishBlue: hsl(219, 29%, 14%);
$lightGray: hsl(0, 0%, 81%);
$bodyBg: hsl(210, 46%, 95%);

@mixin card($bgColor, $color, $cardArea) {
    grid-area: $cardArea;
    color: $color;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
}
@mixin info {
    display: flex;
}
@mixin pic($borderColor) {
    width: 30px;
    height: 30px;
    margin: 0 1rem 0 0;
    border-radius: 50px;
    border: 2px solid lighten($borderColor, 20%);
}
@mixin mainPara {
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem 0;
}
@mixin subPara {
    opacity: .5;
    line-height: 1.3rem;
}
@mixin verifiedText {
    opacity: .7;
}


body {
    margin: 0;  
    padding: 0;
    font-size: 13px;
    background-color: $bodyBg;
    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 2rem;
    grid-template-areas: "card1 card1 card2 card5"
                         "card3 card4 card4 card5";
}


.card1 {
    // grid-column: 1 / 3;
    z-index: -2;
    position: relative;
    @include card($violet, white, card1);
    
    .icon {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 65%;
    }
    .info {
        @include info()
        
        .pic {
            @include pic($violet);
        }
        .name {
            margin: 0;
        }
        .verified {
            margin: 0;
            @include verifiedText()
        }
    }
    .main-para {
        @include mainPara()
    }
    .sub-para {
        @include subPara()
    }
}

.card2 {
    // grid-column: 3 / 4;
    // grid-row: 1;
    @include card($darkGrayishBlue, white, card2)

    .info {
        @include info()
        
        .pic {
            @include pic(white)
        }
        .name {
            margin: 0;
        }
        .verified {
            margin: 0;
            @include verifiedText()
        }
    }
    .main-para {
        @include mainPara()
    }
    .sub-para {
        @include subPara()
    }
}

.card3 {
//     grid-column: 1;
//     grid-row: 2;
    @include card(white, black, card3)

    .info {
        @include info()
        
        .pic {
            @include pic(white)
        }
        .name {
            margin: 0;
        }
        .verified {
            margin: 0;
            @include verifiedText()
        }
    }
    .main-para {
        @include mainPara()
    }
    .sub-para {
        @include subPara()
    }
}

.card4 {
    // grid-column: 2 / 4;
    // grid-row: 2;
    @include card($darkBlackishBlue, white, card4)

    .info {
        @include info()
        
        .pic {
            @include pic($violet)
        }
        .name {
            margin: 0;
        }
        .verified {
            margin: 0;
            @include verifiedText()
        }
    }
    .main-para {
        @include mainPara()
    }
    .sub-para {
        @include subPara()
    }
}

.card5 {
    // grid-column: 4 / 5;
    // grid-row: 1 / 3;
    @include card(white, black, card5)

    .info {
        @include info()
        
        .pic {
            @include pic(white)
        }
        .name {
            margin: 0;
        }
        .verified {
            margin: 0;
            @include verifiedText()
        }
    }
    .main-para {
        @include mainPara()
    }
    .sub-para {
        @include subPara()
    }
}


.attribution { 
    font-size: 12px; 
    text-align: center;
    padding: 1rem 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "card1 card1 card1 card2 card2"
        "card3 card3 card4 card4 card4"
        "card5 card5 card5 card5 card5";
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "card1 card1" 
        "card2 card2"
        "card3 card3"
        "card4 card4"
        "card5 card5"
        "card5 card5";
    }
    
}